/*Font-Family*/
@font-face {
  font-family: "Dosis";
  src: url("../Fonts/Dosis/static/Dosis-Light.woff2") format("woff2"),
    url("../Fonts/Dosis/static/Dosis-Light.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: "Dosis";
  src: url("../Fonts/Dosis/static/Dosis-Regular.woff2") format("woff2"),
    url("../Fonts/Dosis/static/Dosis-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dosis";
  src: url("../Fonts/Dosis/static/Dosis-SemiBold.woff2") format("woff2"),
    url("../Fonts/Dosis/static/Dosis-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dosis";
  src: url("../Fonts/Dosis/static/Dosis-Bold.woff2") format("woff2"),
    url("../Fonts/Dosis/static/Dosis-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../Fonts/Montserrat/static/Montserrat-SemiBold.woff2")format("woff2"),
    url("../Fonts/Montserrat/static/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../Fonts/Montserrat/static/Montserrat-Bold.woff2") format("woff2"),
    url("../Fonts/Montserrat/static/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../Fonts/Open_Sans/static/OpenSans-Bold.woff2") format("woff2"),
    url("../Fonts/Open_Sans/static/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../Fonts/myriad-pro/MYRIADPRO-REGULAR.woff") format("woff");
}


/* generic */
h2 {
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
}
h2::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  border-bottom: 2px solid #c1274a;
  margin: 11px 0 0 0;
}

/*Navigation Section */
.navbar {
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  padding:8px 0 !important;
  height: 100px;
  font-size: 18px;
  font-family: "Dosis", sans-serif;
  line-height: 24px;
}
.nav-item a{
  color: #000000 !important;
}
.logo {
  width:100%;
  margin-left: 0px;
}
.navbar .logo {
  height: 50px;
  margin-top: 0;
}
.buttonquote {
  background-color: #c1274a;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.phone {
  vertical-align: middle;
  margin-right: 5px;
  color: black;
}
.left-side {
  display: flex;
  align-items: center;
}
.right-side {
  display: flex;
  align-items: center;
}
.right-side a img {
  margin-right: 5px;
}
.right-side > * {
  margin-left: 20px;
}
.nav-link:focus {
  color: #c1274a !important;
  text-decoration: underline !important;
  text-underline-offset: 5px !important;
  text-decoration-thickness: 2px !important;
}
.collapsing {
  transition: ease-in-out !important;
}
/*End of Navigation Bar */

/* Banner Section*/
.banner {
  width: 100%;
  position: relative;
}
.silde1 {
  padding: 0.15% 0 10.786% 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/banner.png");
  background-size: cover;
  background-position: center center;
}
.silde2 {
  padding: 0.15% 0 10.80% 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/img_lights.jpg");
  background-size: cover;
  background-position: center center;
}
.silde3 {
  padding: 0.15% 0 10.80% 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/img_mountains.jpg");
  background-size: cover;
  background-position: center center;
}
.banner .slick-next {
  display: none !important;
}
.banner .slick-prev {
  display: none !important;
}
.banner .slick-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  text-align: center;
}
.banner .slick-dots li {
  list-style: none;
  width: 12px;
  height: 12px;
  background: grey;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}
.banner .slick-dots li.slick-active {
  background: #fff;
}
.banner .slick-dots li button {
  display: none;
}
ul.slick-dots {
  padding-left: 0;
}

/*banner Text */
div.banner-text {
  margin-top: 180px;
}
.banner-text {
  text-align: center;
  color: white;
}
.banner-text h3 {
  font-size: 36px;
  font-family: "Dosis";
  font-weight: 300;
  margin-bottom: 5px;
  top: 0;
  line-height: 20px;
}
.banner-text h3::after {
  content: "";
  display: block;
  border-bottom: 3px solid white;
  width: 30px;
  margin-left: 48.8%;
  padding-top: 20px;
}
.banner-text h1 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 91px;
  padding-top: 0px;
  margin-bottom: 0;
}
.banner-text h2 {
  font-family: "Dosis";
  font-size: 58px;
  font-weight: 600;
}
.banner-text h2::after {
  display: none;
}
/*End of Banner Section */

/* Ads Visuals Section */
.main-container {
  width: 100%;
  max-width: 1050px;
  margin: 49px auto 0;
  padding: 10px 0;
}
.cardd {
  display: flex;
  gap:28px;
}
.containerrr {
  width: 32.80%;
  box-sizing: border-box;
  border: 1px solid #ddd;
}
div.visuals-desc {
  padding: 13px 20px 13px 20px;
  text-align: center;
  font-family: "Dosis";
  font-weight: normal;
  text-align: left;
  font-size: 18px;
  text-justify: auto;
  line-height: 24px;
  color: #404040;
}
.image-container {
  position: relative;
  width: 100%;
}
.image-container img {
  width: 100%;
  height: auto;
  display: block;
}
.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
  opacity: 1;
  font-family: "Montserrat";
  font-weight: 600;
  text-align: left;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}
/* End of Ad visuals Section */

/* Top Seller */
.topseller-container {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  padding: 21px 0;
}
.top-seller {
  display: flex;
  gap:28px;
}
.topseller-container h2 {
  font-family: "Montserrat";
  font-weight: bold;
  position: relative;
  margin-top: 65px;
}
.image-container1 {
  width: 32.80%;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding-top: 28px;
}
.image-container1 img {
  margin: 3px 0 3px 31px;
}
.top-seller-desc {
  display: flex;
  font-family: "Dosis";
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 27px;
}
.top-seller-desc p {
  margin: 0 10px 0 21px;
  padding: 0 0 0 0;
  width: 100%;
  color: #404040;
}
.top-seller-desc a {
  color: #404040;
  text-decoration: underline;
  text-decoration-color: #404040;
  font-weight: bold;
}
.image-container1 p a:hover {
  text-decoration: underline;
  text-decoration-color: #c1274a;
  color: #c1274a;
}
.checked {
  color: #ed8a19;
}
.fa-star-o {
  color: #ed8a19 !important;
}
/* End of Top Seller Secrtion */

/*  Why are We Different Section */
.main-container2 {
  width: 100%;
  margin: 38px 0 0;
  position: relative;
  overflow: hidden;
  background-image: url("../images/banner2.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 4.4% 0;
}
.gradient-box {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  background: linear-gradient(to bottom,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8));
  padding: 50px 20px;
  text-align: center;
}
.gradient-box h2 {
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  margin-bottom: 20px;
}
.gradient-box p {
  width: 100%;
  max-width: 629px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Dosis";
  margin: 20px auto;
}
/* End of Why We Are Different */

/* Our Client */
/* Slider */
.roww {
  padding: 0 0 60px 0;
  width: 100%;
  max-width: 1050px;
  margin: 56px auto 0;
  /* background-color: aqua; */
}
.slick-slide .customer-logos-img {
  width: 100%;  
}
.our-client-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.customer-logos {
  display: flex !important;
  justify-content: space-between !important;
  overflow-x: auto;
  width: 100%;
  margin: 40px 0 0 0;
}
.slide {
  /* background-color: aquamarine ; */
  flex: 0 0 auto;
}
.slick-prev, .slick-next {
  flex: 0 0 auto !important;
  border-radius: 19px !important;
  width: 38px !important;
  background-color: #ffffff !important;
  border: 1px solid #dddddb !important;
  color: #b6b5b5 !important;
  font-size: 24px !important;
  margin: 35px 0 0 0;
  padding: 0 0 5px 0 !important;
  align-items: center !important;
}
.slick-prev:hover, .slick-next:hover {
  background-color: #c1274a !important;
  color: #fff !important;
}
.slick-prev:focus, .slick-next:focus {
  border: 1px solid #ddd;
  color: #ddd;
  background-color: #fff;
  outline: none;
  box-shadow: none !important;
}
.text-center {
  text-align: center;
}
.our-client-container h2 {
  font-size: 36px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: #404040;
  font-weight: 700;
  font-family: "Open Sans";
  padding: 0 0 19px 0;
  margin: 0 0 4px 0;
}
/* End of Our Client */

/* Subscribe Now */
.subscribe-container { 
  background-color: black;
  margin: 0;
  padding: 60px 0;
}
.subscribe-sub-container {
  width: 100%;
  max-width: 1050px;
  /* background-color: aqua; */
  margin: 0 auto;
  display: flex;
  text-align: center;
}
.subscribe-container h2 {
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}
form {
  width: 100%;
}
.subscribe-container p {
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Dosis";
  text-align: center;
  margin: 38px 0 20px;
}
.name, .email {
  width: 33%;
  max-width: 344px;
  padding: 14px 0 14px 20px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #dddddb;
  margin: 20px 13px;
}
.name:focus, .email:focus, .subscribe-btn:focus {
  outline: none;
}
.subscribe-btn {
  width: 16%;
  max-width: 161px;
  padding: 14px 0;
  border: 0;
  border-radius: 5px;
  background-color: #c1274a;
  color: #ffffff;
  margin: 0 13px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
}
/* End of Subscribe Now */

/* Explore Serction */
.how_to_explore_video {
  width: 100%;
  max-width: 1050px;
  margin: 55px auto 0;
  padding: 0;
}
.how_to_container {
  display: flex;
}
.left_side {
  margin: 0 30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left_side h2 {
  margin: 0;
  font-size: 36px;
  line-height: 32px;
  color: #404040;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
.left_side p {
  margin: 45px 0 30px 0;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  color: #404040;
  font-weight: normal;
  font-family: "Dosis";
  text-align: center;
}
.left_side button {
  border-radius: 5px;
  background-color: #c1274a;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  font-family: "Dosis";
  padding: 8px 20px 9px;
}
.right_side {
  text-align: center;
}
/* End of Explore Section */

/* Testimonial */
.testimonials {
  background-color: #eeeeee;
  margin:62px 0 0;
  padding: 0 0 78px 0;
}
.testimonial_cards {
  width: 100%;
  max-width: 1050px;
  /* background-color: #c1274a; */
  margin: 0 auto 0;
  padding: 49px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial_cards h2 {
  font-size: 36px;
  line-height: 32px;
  text-transform: uppercase;
  color: #404040;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}
.testimonial {
  display: flex !important;
  overflow-x: auto;
  width: 100%;
  margin: 40px 0 0 0;
  gap: 30px;
  justify-content: space-between !important;
}
.test_image {
  display: flex;
  margin: 20px 0 0 55px;
}
.test_image img {
  margin: 0 10px 0 0;
}
.test_image h4 {
  font-size: 18px;
  line-height: 24px;
  color: #404040;
  font-weight: 700;
  font-family: "Montserrat";
  margin: 0;
}
.quotation_left p, .test_image p {
  font-size: 18px;
  line-height: 24px;
  color: #404040;
  font-weight: 400;
  font-family: "Dosis";
}
.quotation_left p{
  width:79.84%;
  margin:0;
}

/*.testimonial .slick-slide{
  width: 330px !important;
}
.testimonials > .slick-slide{
  margin-right: 24px !important;
}
.testimonials > .slick-slider{
  margin:0 -15px !important;
}

.sliide{
    margin: 0 100px 0 0 !important;  not working
}
.testimonial-quote-img{
  margin: 0 15px 0 0;
  padding: 0 15px 0 20px;
}

the slides
.slick-slide{
  margin:0 10px;
}
.slick-active{
  max-width: 330px;
}
.slick-track .slick-active:nth-child(odd) {
  margin: 0 30px 0 0 !important;
}  */
/* .slick-list {
  margin: 0 -30px 0 0 ;
} */
.quotation_left {
  display: flex;
  gap:15px;
  /* justify-content: space-between; */
}
.slick-prev2, .slick-next2 {
  flex: 0 0 auto !important;
  border-radius: 19px !important;
  width: 38px !important;
  background-color: #ffffff !important;
  border: 1px solid #dddddb !important;
  color: #b6b5b5 !important;
  font-size: 24px !important;
  margin: 35px 0 0 0;
  padding: 0 0 5px 0 !important;
  align-items: center !important;
}
.slick-prev2:hover, .slick-next2:hover {
  background-color: #c1274a !important;
  color: #fff !important;
}
.slick-prev2:focus, .slick-next2:focus {
  border: 1px solid #ddd;
  color: #ddd;
  background-color: #fff;
  outline: none;
  box-shadow: none !important;
}

/*Footer */
.ffooter{
  background-color: #000000;
  padding:0 15px;
}
.sub-ffooter{
  width:100%;
  max-width: 1050px;
  margin:0 auto;
  display:flex;
  gap:30px;
}
.about, .our_product, .quick_links, .social_media{
  width:25%;
  margin: 65px 0;
}
.about p, .our_product p, .quick_links a, .copy_right p {
  font-size: 18px;
  line-height: 24px;
  color: #919191;
  font-weight: normal;
  font-family: "Dosis";
  margin:0;
}
.our_product h4, .quick_links h4, .social_media h4{
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-family: "Montserrat";
  margin:0;
  position: relative;
}
.sub-ffooter h4::after{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 43px;
  border-bottom: 2px solid #ffffff;
  margin: 5px 0 0 0;
}
.ffooter_text {
  margin: 15px 0 0 0;
}
.ffooter_text ul{
  list-style-type: none;
  padding: 0;
}
.social_media img:hover {
  background-color: #c1274a;
}
.social_media img{
  border-radius: 21px;
  background-color: #ffffff;
  margin: 10px 5px 0 0;
  MAX-WIDTH: 35PX;
  padding: 6px;
}
.copy_right{
  text-align: center;
  width:100%;
  max-width: 1050px;
  margin:0 auto;
  border-top: 1px solid rgba(255, 255, 255, 0.149);
  padding: 30px 0;
}
/* End of Footer */

/* Media Querys */
@media screen and (max-width:1199px){
  /* Navigation */
  .navbar-brand{
    margin:0 10px 0 0 !important;
    width: 20% !important;
  }
  .navbar {
    padding: 8px 15px !important;
  }

  /* Banner */
  div.banner-text {
    margin-top: 80px;
  }
  .banner-text h3 {
    font-size: 32px;
  }
  .banner-text h1 {
    font-size: 80px;
  }
  .banner-text h2 {
    font-size: 54px;
  }

  /* Visuals */
  .cardd {
    margin: 0 15px;
    gap: 20px;
  }
  .overlay-text{
    font-size: 18px;
  }

  /* Top seller */
  .top-seller {
    margin: 0 15px;
    gap: 20px;
  }
  .image-container1 img{
    margin: 3px 0 3px 15px
  } 
  .top-seller-desc p{
    padding:0;
    margin: 0 5px 0 10px;
    font-size: 18px;
  }
}
@media screen and (max-width:1050px) {
  /* Why are we different*/
  .gradient-box {
    width:auto;
    margin: 0 15px;
  }

  /*Our Client */
  .roww{
    width:auto;
    margin: 56px 15px 0; 
  }

  /* Subscribe Now */
  .subscribe-sub-container{
    width:auto;
    margin: 0 15px;
  } 

  /* How to Explore */
  .how_to_explore_video{
    width: auto;
    margin: 55px 15px 0;
  }
  .left_side {
    width: 50%;
  }
  .right_side {
    width: 50%;
  }
  .right_side img {
    width: 100%;
    height: 100%;
  } 

  /* Testimonial */
  .testimonial_cards{
    width: auto;
    margin: 49px 15px 0;
  }
  .testimonial-quote-img{
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  /* banner */
  div.banner-text {
    margin-top: 60px;
  }
  .banner-text h3 {
    font-size: 26px;
  }
  .banner-text h1 {
    font-size: 50px;
  }
  .banner-text h2 {
    font-size: 40px;
  }

  /* Visuals */
  .cardd {
    width: auto;
    flex-wrap: wrap;
    margin: 0 15px 0;
    gap:0;
    justify-content: space-between;
  }
  .containerrr {
    margin: 0 0 50px;
    width: 48%;
  }

  /* Top Seller */
  .topseller-container {
    padding: 0;
  }
  .top-seller {
    width: auto;
    flex-wrap: wrap;
    margin: 0 15px 0;
    justify-content: space-between;
  }
  .image-container1 {
    width: 48%;
    padding:20px 0 0;
  }
  .topseller-container h2 {
    margin: 15px 0 8px;
  }

  /* Why are we Different */
  .gradient-box {
    padding: 30px 20px;
  }
  .gradient-box p {
    max-width: 100%;
    text-align: justify;
  }

  /* Subscribe Now */
  .name,.email {
    width: 42%;
    margin: 0 15px 15px;
  }
  .subscribe-btn {
    width: 25%;
  }

  /* How to Explore */
  .how_to_container {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .left_side {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .left_side p {
    text-align: justify;
  }
  .right_side{
    width:100%;
  }

  /*Testimonial */
  .quotation_left p{
    width: 100%;
  }

  /* Footer */
  .about, .our_product, .quick_links, .social_media{
    width:45%;
  }
  .sub-ffooter{
    flex-wrap: wrap;
    gap:0;
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  /*Navigation */
  .navbar-collapse {
    background-color: white;
    position: absolute;
    width: 100% !important;
    top: 100%;
    /* left: 0; */
    z-index: 1000;
  }
  .buttonquote {
    margin-bottom: 10px;
  }
  .navbar-collapse ul {
    flex-direction: column;
    text-align: center;
    /* width: 100vh; */
  }
  .navbar .logo {
    margin-left: 0;
  }
  .navbar-brand{
    width: auto !important;
  }
}
@media screen and (max-width: 575px) {
  /* Navigation */
  .navbar{
    width:90%;
    padding: 8px 0 !important;
  }

  /* Visuals */
  .cardd {
    margin: 0;
    justify-content: center;
  }
  .containerrr {
    margin: 0 0 50px;
    width: 90%;
  }
  .overlay-text {
    padding: 0 0 0 10px;
    font-size: 22px;
  }

  /* Top seller */
  .top-seller {
    justify-content: space-around;
    margin: 0;
  }
  .image-container1 {
    width: 90%;
  }

  /* why we are different */
  .gradient-box {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
  }
  .main-container2 {
    padding: 10px 0;
  }
  .gradient-box h2 {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .gradient-box p {
    font-size: 14px;
    line-height: 20px;
    margin: 20px auto;
  }

  /* our client */
  .roww {
    width:90%;
    margin: 56px auto 0;
  }

  /*Subscribe Now Section */
  .name, .email {
    width: 100%;
    margin: 0 0 15px;
    padding: 10px 0 10px 20px;
  }
  .subscribe-btn {
    width: 100%;
    margin: 0 20px;
  }
  form {
    width: auto;
  }
  .subscribe-sub-container{
    width:90%;
    margin: 0 auto 0;
  }

  /* How to Explore */
  .how_to_explore_video{
    width:90%;
    margin: 55px auto 0;
  }

  /* Testimonial */
  .quotation_left p{
    line-height: 22px;
  }
  .testimonials {
    margin: 40px 0 0 0;
    padding: 0 0 30px 0;
  }
  .slick-prev2, .slick-next2 {
    margin:20px 0 0 0;
  }

  /* Footer */
  .about, .our_product, .quick_links, .social_media{
    width:100%;
    margin:0 0 20px 0 ;
  }
  .sub-ffooter{
    width:auto;
    padding: 20px 0;
  }
  .about p, .our_product p, .quick_links a, .copy_right p{
    font-size: 16px;
    line-height: 20px;
  }
  .copy_right{
    padding: 15px 0;
  }
}
@media screen and (max-width: 480px) {
  /* Navigation Bar */
  .navbar .logo {
    height: 30px;
  }

  /* Banner */
  div.banner-text {
    margin: 40px 0 0;
  }
  .banner-text h3 {
    font-size: 25px;
  }
  .banner-text h1 {
    font-size: 40px;
    padding-bottom: 7px;
  }
  .banner-text h2 {
    font-size: 32px;
  }
  .banner-text h3::after {
    content: "";
    display: block;
    border-bottom: 1px solid white;
    margin: 0 0 0 48%;
    padding:10px 0 0 0;
    width:5%;
  }
  ul.slick-dots{
    margin:5px 0;
  }
  .banner .slick-dots li {
    width: 8px;
    height: 8px;
  }

  /* Visuals */
  .overlay-text {
    font-size: 18px;
  }
  .gradient-box {
    padding: 10px;
  }
  .gradient-box h2 {
    font-size: 17px;
    line-height: 16px;
  }
  .gradient-box p {
    font-size: 16px;
    line-height: 15px;
  }
  
  /* Our Client */
  .slick-prev, .slick-next {
    width: 34px !important;
    font-size: 19px !important;
    margin: 20px 0 0 0;
  }

  /* How to Explore */
  .left_side h2 {
    font-size: 20px;
    line-height: 28px;
  }
  .left_side p {
    line-height: 20px;
  }

  /* Testimonial */
  .testimonial_cards h2{
    font-size: 32px;  
  }
}